h1(focusTitle) Налаштування облікового запису

.row.text-large
	.col-md-6
		form(name="form" (submit)="submit()" style="max-width: 400px; margin-bottom: 100px")
			.form-group
				h3 Account details
			.form-group
				label(for="account-id") Ідентифікатор (ID) облікового запису
				input#account-id.form-control([value]="account?.id" readonly)
			.form-group
				label(for="account-name") Ім'я облікового запису
				input#account-name.form-control(
					type="text" name="name" [(ngModel)]="data.name" required [maxlength]="nameMaxLength")
				small.form-text.text-warning Це ім'я буде видно иншим гравцям
			.form-group
				label(for="birthdate")
					| Дата народження
					fa-icon.ml-1.text-danger(*ngIf="showAccountAlert" [icon]="alertIcon" title="не вказано")
				date-picker([(date)]="data.birthdate")
			.form-group(*ngIf="accountError")
				.alert.alert-danger
					| {{accountError}}
			.form-group(*ngIf="accountSaved")
				.alert.alert-success
					| Зміни збережено
			.form-group.text-right
				button.btn.btn-default(type="submit" [disabled]="!canSubmit" style="min-width: 100px;")
					| Зберегти

		div(style="margin-bottom: 100px;")
			.form-group
				h3 Підключені облікові записи соціальних мереж

			.form-group
				p.text-muted.
					Якщо ти видалиш обліковий запис соціальної мережі, ти більше не зможеш використовувати його для входу до гри.

			.form-group
				ul.list-unstyled
					li.item-connected-account.d-flex.justify-content-between(*ngFor="let s of sites")
						a([href]="s.url" target="_blank" rel="noopener noreferrer")
							fa-icon.mr-1([icon]="icon(s.icon)" [fixedWidth]="true")
							b #[span.sr-only {{s.icon}}] {{s.name}}
						button.btn.btn-sm.btn-danger(*ngIf="sites.length > 1" (click)="removeSite(s)" [disabled]="removingSite")
							| видалити

			.form-group
				p.text-danger.
					Будь ласка, НЕ підключайте жодні облікові записи, які #[b не належать Вам!]
					Підключення облікових записів инших людей може призвести до їх об'єдання
					і втрати одного чи декількох облікових записів.
				p.text-danger.
					Будь ласка, зв'яжіться з адміністрацією, якщо Ви випадково об'єднали облікові записи.
				.dropdown(dropdown)
					button.btn.btn-default.dropdown-toggle(dropdownToggle)
						| підключити инший сайт до цього облікового запису
					.dropdown-menu(*dropdownMenu)
						button.dropdown-item(*ngFor="let p of providers" (click)="connectSite(p)")
							fa-icon.mr-1([icon]="icon(p.id)" [fixedWidth]="true")
							| #[span.sr-only {{p.name}}] {{p.name}}

			.form-group(*ngIf="mergeError")
				.alert.alert-danger
					| {{mergeError}}

			.form-group(*ngIf="authError")
				.alert.alert-danger
					| {{authError}}

			.form-group(*ngIf="mergedAccount")
				.alert.alert-success
					| Обліковий запис підключено успішно

			.form-group(*ngIf="removedAccount")
				.alert.alert-success
					| Обліковий запис відключено успішно

	.col-md-6
		div(style="margin-bottom: 100px;")
			.clearfix(*ngIf="showSupporter")
				.form-group
					h3
						fa-icon.mr-2([icon]="starIcon" [ngClass]="supporterClass")
						| Дякуємо за підтримку!

				supporter-pony.float-right(#pony (mouseenter)="pony.excite()" (mouseleave)="pony.reset()")

				.form-group
					p Ваш рівень: #[b {{supporterTitle}}]
					p У якості нагороди, Ви можете:
					ul
						li(*ngFor="let r of supporterRewards")
							| {{r}}

				p(*ngIf="supporter > 0")
					| Використовувати команду <code>/ss hello</code> для зміни кольору Ваших повідомлень.

				p(*ngIf="supporter > 1")
					| Використовувати команди <code>/s1 hello</code> та <code>/s2 hello</code> для використання кольорів инших рівнів у Ваших повідомленнях.

			.clearfix(*ngIf="showSupporterInfo")
				.form-group
					h3 Supporter info

				supporter-pony.float-right(#pony (mouseenter)="pony.excite()" (mouseleave)="pony.reset()")

				.form-group.text-muted
					p.
						You've successfully connected your Patreon account to Pony Town.
						If you support Pony Town on Patreon your supporter info will show up here.
					p.
						It should take no longer than 10 minutes to register your Patreon pledges.

		div(style="margin-bottom: 100px;")
			.form-group
				.float-right
					span.text-muted Page: {{page + 1}}
					button.btn.btn-sm.btn-outline-secondary.ml-2((click)="page = page - 1; pageChanged()" [disabled]="!hides || page === 0")
						| Попередня сторінка
					button.btn.btn-sm.btn-outline-secondary.ml-1((click)="page = page + 1; pageChanged()" [disabled]="!hides || hides.length < hidesPerPage")
						| Наступна сторінка
				h3 Приховані гравці

			div(*ngIf="!hides")
				.text-muted.text-center.p-4 loading...

			ul.list-unstyled(*ngIf="hides")
				.text-muted.text-center.p-4(*ngIf="!hides.length") нема прихованих гравців
				li.item-connected-account.d-flex.align-items-center(*ngFor="let h of hides")
					b.flex-grow-1 {{h.name}}
					span.text-muted.mr-2 hidden {{h.date}}
					button.btn.btn-sm.btn-danger((click)="unhidePlayer(h)")
						| видалити гравця зі списку прихованих
